<nav class="navbar">
    <div class="header" [routerLink]="'/categories'">
        <img src="Logo_white.png" alt="Logo">
        <a class="homeButton">WILLTEILEN</a>
    </div>

    <app-search-bar class="search"></app-search-bar>


    <div class="navButtons">
        @if (userId() !== null) {
        <a [routerLink]="'/user'">User</a>
        <a (click)="logout()">Abmelden</a>
        @if (role() === 'Admin') {
        <a [routerLink]="'/admin'">Admin</a>
        }
        }
        @else {
        <a [routerLink]="'/login'">Anmelden</a>
        <a [routerLink]="'/register'">Registrieren</a>
        }
    </div>
</nav>