<div class="register-container">
    <h2 class="register-title">Konto erstellen</h2>

    <form (ngSubmit)="register(registerForm)" #registerForm="ngForm" class="register-form was-validatet">

        <div class="form-group">
            <input type="text" name="userName" [(ngModel)]="userName" #userNameElement="ngModel" placeholder="*Username"
                required minlength="2" />
            @if (userNameElement?.errors?.['required']) {
            <div class="alert alert-danger">
                Benutzername muss eingegeben werden!
            </div>
            }
            @if (userNameElement?.errors?.['minlength']) {
            <div class="alert alert-danger">
                Benutzername muss mindestens 2 Zeichen lang sein!
            </div>
            }
        </div>

        <div class="form-group">
            <input type="password" name="password" [(ngModel)]="password" #passwordElement1="ngModel"
                placeholder="*Passwort" required />
            @if (passwordElement1?.errors?.['required']) {
            <div class="alert alert-danger">
                Passwort muss eingegeben werden!
            </div>
            }
        </div>
        <div class="form-group">
            <input type="password" name="password" [(ngModel)]="passwordRepeat" #passwordElement2="ngModel"
                placeholder="*Passwort wiederholen" required />
            @if (passwordElement2?.errors?.['required']) {
            <div class="alert alert-danger">
                Passwort muss eingegeben werden!
            </div>
            }
            @if (password() != passwordRepeat()) {
            <div class="alert alert-danger">
                Passwörter stimmen nicht überein!
            </div>
            }
        </div>

        <div class="form-group">
            <input type="email" name="email" [(ngModel)]="email" #emailElement="ngModel" placeholder="*Email"
                required />
            @if (emailElement?.errors?.['required']) {
            <div class="alert alert-danger">
                Email muss eingegeben werden!
            </div>
            }
        </div>

        <div class="form-group">
            <input type="text" name="firstName" [(ngModel)]="firstName" #firstNameElement="ngModel"
                placeholder="*Vorname(n)" required minlength="2" />
            @if (firstNameElement?.errors?.['required']) {
            <div class="alert alert-danger">
                Vorname muss eingegeben werden!
            </div>
            }
            @if (firstNameElement?.errors?.['minlength']) {
            <div class="alert alert-danger">
                Vorname muss mindestens 2 Zeichen lang sein!
            </div>
            }
        </div>

        <div class="form-group">
            <input type="text" name="lastName" [(ngModel)]="lastName" #lastNameElement="ngModel" placeholder="*Nachname"
                required minlength="2" />
            @if (lastNameElement?.errors?.['required']) {
            <div class="alert alert-danger">
                Nachname muss eingegeben werden!
            </div>
            }
            @if (lastNameElement?.errors?.['minlength']) {
            <div class="alert alert-danger">
                Nachname muss mindestens 2 Zeichen lang sein!
            </div>
            }
        </div>

        <div class="form-group">
            <input type="date" [(ngModel)]="birthDate" name="birthDate" />
        </div>


        <div class="form-group">
            <label for="country">Land:</label>
            <select [(ngModel)]="selectedCountry" (change)="onCountryChanged()" id="country" name="country"
                class="form-select">
                <option value="" disabled selected>Bitte Land auswählen</option>
                @for (country of countries(); track $index) {
                <option [value]="country">{{ country }}</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="state">Bundesland:</label>
            <select [(ngModel)]="selectedState" (change)="onStateChanged()" id="state" name="state" class="form-select">
                <option value="" disabled selected>Bitte Bundesland auswählen</option>
                @for (state of states(); track $index) {
                <option [value]="state">{{state}}</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="postalCode">Postleitzahl:</label>
            <select [(ngModel)]="selectedPostalCode" (change)="onPostalCodeChanged()" id="postalCode" name="postalCode"
                class="form-select">
                <option value="" disabled selected>Bitte Postleitzahl auswählen</option>
                @for (item of postalCodesAndPlaces(); track $index) {
                <option [value]="item.postalCode">{{ item.postalCode }}</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="place">Ort:</label>
            <select [(ngModel)]="selectedPlace" (change)="onPlaceChanged()" id="place" name="place">
                <option value="" disabled selected>Bitte Ort auswählen</option>
                @for (item of postalCodesAndPlaces(); track $index) {
                <option [value]="item.place">{{ item.place }}</option>
                }
            </select>
        </div>

        <div class="form-group">
            <input type="text" name="address" [(ngModel)]="address" placeholder="Adresse" />
        </div>

        <div class="form-group">
            <input type="tel" name="phoneNumber" [(ngModel)]="phoneNumber" placeholder="Handynummer" />
        </div>

        <button type="submit" class="btn-register">Registrieren</button>
    </form>
</div>