<app-side-bar (filterEmitter)="onSideBarFilter($event)"></app-side-bar>
@if(isSubCategoryForm()){
<div>
    <div class="itemGrid">
        @for (item of subCategoryDto()?.itemsDto; track $index) {
        @if(onFilterUseOnItem(item)){
        <div class="item" [routerLink]="'/item/'+ item.id">
            @if(item.mainImage?.imageUrl != ""){
            <img [src]="item.mainImage?.imageUrl" [alt]="item.name" />
            }@else{
            <img src="No_Image_Available.jpg" [alt]="'Kein Bild verfügbar'" />
            }
            <p>{{ item.name }}</p>
            <p>€ {{ item.price }}/h</p>
            <p>
                <span>{{ item.geoPostal.postalCode }} </span>
                <span>{{ item.geoPostal.place }}</span>
            </p>
        </div>
        }
        }

    </div>
</div>
}
@else {
<div>
    <div class="itemGrid">
        @for (item of items(); track $index) {
        @if(onFilterUseOnItem(item)){
        <div class="item" [routerLink]="'/item/'+ item.id">
            @if(item.mainImage?.imageUrl?.length! > 0){
            <img [src]="item.mainImage?.imageUrl" [alt]="item.name" />
            }@else{
            <img src="No_Image_Available.jpg" [alt]="'Kein Bild verfügbar'" />
            } <p>{{ item.name }}</p>
            <p>€ {{ item.price }}/h</p>
            <p>
                <span>{{ item.geoPostal.postalCode }} </span>
                <span>{{ item.geoPostal.place }}</span>
            </p>
        </div>
        }
        }

    </div>
</div>
}