<div class="edit-container">
    <h2 class="edit-title">Benutzerdaten ändern</h2>

    <form #userForm="ngForm" (ngSubmit)="save(userForm)" class="edit-form was-validated">

        <div class="form-group">
            <input class="form-control" type="text" name="userName" [(ngModel)]="userName" placeholder="Username"
                #userNameElement="ngModel" required minlength="2" />
            @if (userNameElement?.errors?.['required']) {
            <div [hidden]="!isTriedToSave()" class="invalid-feedback">
                Benutzername muss eingegeben werden!
            </div>
            }
            @if (userNameElement?.errors?.['minlength']) {
            <div [hidden]="!isTriedToSave()" class="invalid-feedback">
                Benutzername muss mindestens 2 Zeichen lang sein!
            </div>
            }
        </div>

        <div class="form-group">
            <input class="form-control" type="password" name="currentPassword" [(ngModel)]="currentPassword"
                [required]="newPassword() !== ''" #currentPw="ngModel"
                [class.is-invalid]="isTriedToSave() && currentPw.invalid" placeholder="Aktuelles Passwort" />

            <div class="invalid-feedback">
                Passwort muss eingegeben werden!
            </div>
        </div>

        <div class="form-group">
            <input class="form-control" type="password" name="newPassword" [(ngModel)]="newPassword"
                placeholder="Neues Passwort" />
        </div>


        <div class="form-group">
            <input class="form-control" type="email" name="email" [(ngModel)]="email" placeholder="Email"
                #emailElement="ngModel" required />
            @if (emailElement?.errors?.['required']) {
            <div [hidden]="!isTriedToSave()" class="invalid-feedback">
                Email muss eingegeben werden!
            </div>
            }
        </div>

        <div class="form-group">
            <input class="form-control" type="text" name="firstName" [(ngModel)]="firstName" placeholder="Vorname(n)"
                #firstNameElement="ngModel" required minlength="2" />
            @if (firstNameElement?.errors?.['required']) {
            <div [hidden]="!isTriedToSave()" class="invalid-feedback">
                Vorname muss eingegeben werden!
            </div>
            }
            @if (firstNameElement?.errors?.['minlength']) {
            <div [hidden]="!isTriedToSave()" class="invalid-feedback">
                Vorname muss mindestens 2 Zeichen lang sein!
            </div>
            }
        </div>

        <div class="form-group">
            <input class="form-control" type="text" name="lastName" [(ngModel)]="lastName" placeholder="Nachname"
                #lastNameElement="ngModel" minlength="2" required />
            @if (lastNameElement?.errors?.['required']) {
            <div [hidden]="!isTriedToSave()" class="invalid-feedback">
                Nachname muss eingegeben werden!
            </div>
            }
            @if (lastNameElement?.errors?.['minlength']) {
            <div [hidden]="!isTriedToSave()" class="invalid-feedback">
                Nachname muss mindestens 2 Zeichen lang sein!
            </div>
            }
        </div>

        <div class="form-group">
            <input class="form-control" type="date" [(ngModel)]="birthDate" #birthDateElement="ngModel"
                appDateNotInFuture name="birthDate" />
            @if (birthDateElement?.errors?.['appDateNotInFuture']) {
            <div [hidden]="!isTriedToSave()" class="alert alert-danger">
                Datum darf nicht in der Zukunft liegen!
            </div>
            }
        </div>


        <div class="form-group">
            <label for="country">Land:</label>
            <select [(ngModel)]="selectedCountry" (change)="onCountryChanged()" id="country" name="country"
                class="form-select" #countryElement="ngModel" required>
                <option value="" disabled selected>Bitte Land auswählen</option>
                @for (country of countries(); track $index) {
                <option [value]="country">{{ country }}</option>
                }
                @if(countryElement?.errors?.['required']){
                <div [hidden]="!isTriedToSave()" class="invalid-feedback">Land muss ausgewählt werden!</div>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="state">Bundesland:</label>
            <select [(ngModel)]="selectedState" (change)="onStateChanged()" id="state" name="state" class="form-select"
                #stateElement="ngModel" required>
                <option value="" disabled selected></option>
                @for (state of states(); track $index) {
                <option [value]="state">{{state}}</option>
                }
            </select>
            @if(stateElement?.errors?.['required']){
            <div [hidden]="!isTriedToSave()" class="invalid-feedback">Bundesland muss ausgewählt werden!</div>
            }
        </div>
        <div class="form-group">
            <label for="postalCode">Postleitzahl:</label>
            <select [(ngModel)]="selectedPostalCode" (change)="onPostalCodeChanged()" id="postalCode" name="postalCode"
                class="form-select" #postalCodeElement="ngModel">
                <option value="" disabled selected></option>
                @for (item of postalCodesAndPlaces(); track $index) {
                <option [value]="item.postalCode">{{ item.postalCode }}</option>
                }
            </select>
            @if(postalCodeElement?.errors?.['required']){
            <div [hidden]="!isTriedToSave()" class="invalid-feedback">Postleitzahl muss ausgewählt werden!</div>
            }
        </div>
        <div class="form-group">
            <label for="place">Ort:</label>
            <select class="form-select" [(ngModel)]="selectedPlace" (change)="onPlaceChanged()" id="place" name="place"
                #placeElement="ngModel" required>
                <option value="" disabled selected></option>
                @for (item of postalCodesAndPlaces(); track $index) {
                <option [value]="item.place">{{ item.place }}</option>
                }
            </select>
            @if(placeElement?.errors?.['required']){
            <div [hidden]="!isTriedToSave()" class="invalid-feedback">Ort muss ausgewählt werden!</div>
            }
        </div>

        <div class="form-group">
            <input class="form-control" type="text" name="address" [(ngModel)]="address" placeholder="Adresse" />
        </div>

        <div class="form-group">
            <input class="form-control" type="tel" name="phoneNumber" [(ngModel)]="phoneNumber"
                placeholder="Handynummer" />
        </div>

        <button type="submit" class="btn-save">Übernehmen</button>
    </form>
</div>